.issue__wrapper {
    p {
        padding: 12px;
        text-align: center;
        background: #222143;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        color: white;
        border: 1px solid #302b55;
    }   
}