tbody tr {
    &:nth-child(odd) {
        background: #f8f6f6;
    }

}

tbody {
    strong {
        display: block
    }
    img {
        display: none;
    }
}

th {
    font-size: 2rem;
}

.lunch {
    table {
        width: 100% !important;
    }
    h2, p {
        width: 100% !important;
    }
}