@import url('https://fonts.googleapis.com/css?family=Marck+Script');

.content h2.has-text-weight-bold.is-size-1.hero-text {
    font-family: 'Marck Script', cursive;
    color: white !important;
    text-shadow: 2px 2px 5px rgba(black ,.8);
    font-size: 5rem !important;
}