.column.is-10.is-offset-1 {
  .section {
    padding: 12px;
    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      p {
        width: 40%;
      }

      table {
        width: 50%;

        &:first-child:last-child {
          width: 100%;
        }
      }
    }
  }
}

.content table thead td,
.content table thead th {
  color: white !important;
}

.content table td,
.content table th {
  border: none;
}

.content table td:last-child {
  width: 93px;
  text-align: right;
}

.column.is-11 .content table {
  width: calc(50% - 12px);

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.column.is-11 {
  margin: 0 auto;
  .content table thead tr th {
  }
}
