.column.is-10.is-offset-1 {
    .section {
        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                width: 40%;
            }

            table {
                width: 50%;
            }
        }
    }
}